.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__numbers {
    display: flex;
  }
  &__number {
    &__button {
      font-size: 18px;
      margin: 0 5px;
      padding: 5px 10px;
      background-color: transparent;
      border: 1px solid black;
      cursor: pointer;

      &_selected {
        color: green;
        border-color: green;
      }
    }
  }
  &__prev,
  &__next {
    font-size: 18px;
    margin: 0 5px;
    padding: 5px 10px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

    &_disabled {
      color: red;
      border-color: red;
      cursor: initial;
    }
  }
}